<div class="social-links">
  <a href="https://twitter.com/_danny_anderson" class="social-link" aria-label="Twitter">
    <img src="/images/twitter.png" alt="Twitter" class="social-icon">
  </a>
  <a href="https://github.com/Andersond11" class="social-link" aria-label="GitHub">
    <img src="/images/github.png" alt="GitHub" class="social-icon">
  </a>
</div>
