// body
$body-bg: #0d111a;
$text-color: #aaa;

// navigation
$navbar-inverse-bg: #0d111a;
$navbar-inverse-link-active-color: #FFD783;
$dropdown-bg: #0d111a;
$dropdown-link-active-bg: #0d111a;
$dropdown-link-active-color: #FFD783;
$dropdown-link-color: #999999;

// Jumbotron
$jumbotron-heading-color: #FFD783;
