.jumbotron {
  background: url('../images/main-1.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  h1 {
    color: #C78C38;
  }
}
/*
$main-font-color: #7FB269;
$main-font-face: 'Rokkitt', serif;

body {
	color: $main-font-color;
	font-family: $main-font-face;
	font-size: 100%;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	margin: 0.5em 0;
}
*/
