$main-font-color: #7FB269;
$main-font-face: 'Rokkitt', serif;

body {
	color: $main-font-color;
	font-family: $main-font-face;
	font-size: 100%;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	margin: 0.5em 0;
}
