.jumbotron {
  background: url('../images/main-1.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150px;

  h1 {
    color: #FFD783;
  }
}

