/* COLORS */
$background_color: #000;
$inactive_color  : #999999;
$active_color    : #FFD783;

/* NAVBAR */
.navbar-inverse, .dropdown-menu {
  background-color: $background_color;
}

.dropdown-menu > li > a {
  background-color: $background_color;
  color: $inactive_color;
}

/* Over specified to over ride bootstrap */
.navbar-inverse .navbar-nav > li.active > a, .dropdown-menu > li.active > a {
  background-color: $background_color;
  color: $active_color;
}

