#shows {
  h1 {
    color: #fff5e1;
    font-size: 2em;
  }
}

.show {
  padding: .5em 0;

  .faded {
    font-weight: normal;
    color: #888;
  }

  .title {
    font-weight: bold;
  }

  .who {
    color: #fedd97;
    font-size: 1.2em;
  }

  .where {
    
  }

  .when {
    color: #fde5b2;
    font-weight: bold;
  }

  border-top: 1px solid #999;
}
