/* line 1, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/config.css.scss */
body {
  font-size: 14px; }
/* line 1, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/jumbotron.css.scss */
.jumbotron {
  background: url("../images/main-1.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150px; }
  /* line 9, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/jumbotron.css.scss */
  .jumbotron h1 {
    color: #FFD783; }
/* COLORS */
/* NAVBAR */
/* line 8, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/navbar.css.scss */
.navbar-inverse, .dropdown-menu {
  background-color: black; }

/* line 12, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/navbar.css.scss */
.dropdown-menu > li > a {
  background-color: black;
  color: #999999; }

/* Over specified to over ride bootstrap */
/* line 18, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/navbar.css.scss */
.navbar-inverse .navbar-nav > li.active > a, .dropdown-menu > li.active > a {
  background-color: black;
  color: #ffd783; }
/* line 2, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/show.css.scss */
#shows h1 {
  font-size: 2em; }

/* line 7, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/show.css.scss */
.show {
  padding: .5em 0; }
  /* line 10, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/show.css.scss */
  .show .title {
    font-weight: bold; }
/* line 2, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/about.css.scss */
.about h1 {
  font-size: 1.5em; }
/* line 1, /Users/developer/Dropbox/development/danny-anderson.com-mm/source/stylesheets/social-links.css.scss */
.social_image {
  width: 35px; }
/*

*





*/
