---
layout: base
title: Software Developer
---
<div class="about-row">
  <div class="about-content">
    <p>
      <a href="/resume/" target="_blank">resume</a>
    </p>

    <h1 class="about-heading">Software Developer</h1>

    <p>I've been working as a software developer for the past 8 years. What started out as a hobby sparked
    by an early version of Macromedia Flash, turned into a string of freelancing gigs when a few of my early
    experiments caught the interest of a friend and web designer,
    <a href="http://www.martinmanuel.com">Martin Manuel</a>.</p>

    <p>I spent the next three years working freelance software development jobs from the road, while touring
    the midwest as a musician. These jobs varied from data-driven, touch screen applications written in Flash
    and Actionscript 3 to corporate websites with content management systems written in PHP/MySQL.</p>

    <p>In 2009, I grew tired of the financial ups and downs of freelancing and decided to look for a full
    time position. I found a home as a survey programmer and software developer with the market research
    company <a href="http://www.mindwaveresearch.com/">Mindwave Research</a>. The several years I spent
    working on large scale market research projects and reporting tools instilled the importance of data
    consistency and validity.</p>

    <p>It was during my time with Mindwave that I discovered Ruby. The more I played with Ruby at night,
    the more disheartened I grew working in PHP each day. In talking with my former freelancing partner, I
    discovered that the company he was working for needed help with a legacy Rails application that their
    company heavily depended on.</p>

    <p>I started with <a href="http://www.twgplus.com/">TWGPlus</a> in March of 2013 and have taken on
    numerous roles since starting, including: front-end developer - creating responsive marketing sites for
    our clients; application developer - maintaining and improving the CMS and reporting application that the
    business relies on; devops - managing the application servers and eventually creating
    <a href="http://puppetlabs.com/">puppet scripts</a> which were used to relaunch their staging and
    development environments.</p>
  </div>
</div>
