-#=link_to(image_tag('facebook.png', :class => 'social_image'), 'facebook.com')
=link_to(image_tag('twitter.png',  :class => 'social_image', :alt => 'Twitter'), 'https://twitter.com/_danny_anderson')
=link_to(image_tag('github.png',  :class => 'social_image', :alt => 'Github'), 'https://github.com/Andersond11')
-#=link_to(image_tag('google-plus.png',  :class => 'social_image'), 'https://plus.google.com/_danny_anderson')
