.row.about
  .col-md-12.musician
    %h1 Musician

    %p A performing artist for nearly 20 years, I've has been fortunate to perform around the US in a variety of musical settings.

    %p A recipient of #{link_to 'Berklee College of Music', 'http://berklee.edu'}'s 1999 North American Scholarship Tour Award, I attended the prestigious college and graduated with my Bachelor of Music in 2001. Upon returning to my hometown in Southeast Texas, he spent several years teaching, practicing and performing with local artists.

    %p I made my way to Austin in 2004, where I immersed myself in the local music scene performing with various groups locally and throughout the midwest. In 2005, I co-founded the eclectic jazz-funk-ska group About:Blank who became a staple of the local music scene and, in 2009-2010, we were voted the #4 Jazz Band in Austin by the Austin Chronicle Music Awards.

    %p I also perform with trumpeter Erik Telford's group - ETC who, in 2010, released their first album 'Kinetic'. The album garnered several great national reviews and an eventual selection as one of the Boston Globes "Top 10 Jazz Albums of 2010" as well as being nominated in the top 40 albums of 2010 by JazzTimes. This recognition led to a 2010 performance at the Rochester International Jazz Festival and a 2011 performance at the Monterey Jazz Festival.

    %p For the past several years, I've worked with #{link_to 'Mount Pressmore', '#'}.

