.row.about
  .col-md-8.col-md-push-2.software

    %h1 Software Developer

    %p I've been working as a software developer for the past 8 years. What started out as a hobby sparked by an early version of Macromedia Flash, turned into a string of freelancing gigs when a few of my early tinkerings caught the interest of a friend and web designer. 

    %p We spent the next three years working together, me a touring musician working freelance software development jobs from the road. These jobs varied from data-driven, touch screen applications written in Flash and Actionscript 3 to corporate websites with content management systems written in PHP/MySQL.

    %p In 2009, I grew tired of the financial ups and downs of freelancing and decided to look for a full time position. I found a home as a survey programmer and software developer with the local market research company, Mindwave Research. Spending three years working in market research forstered a better understanding of the importance of the consistency and validity of data.

    %p It was during my time with Mindwave that I discovered Ruby. The more I played with Ruby at night, the more disheartened I grew working in PHP each day. In talking with my former freelancing partner, I discovered that the company I was working for needed help with a legacy Rails application that their company heavily depended on. 

    %p I started with TWGPlus in March of 2013 and have taken on numerous roles since starting, including: front-end developer - creating responsive marketing sites for our clients; application developer - maintaining and improving the CMS and reporting application that the business relies on; sysadmin - managing the EC2 instance and eventually creating puppet scripts which were used to relaunch and stabilize their staging and development environments.
