.row
  .col-xs-12
    %p.lead
      A musician and software developer living in Austin Texas.

.row
  .col-md-6
    %p
      A graduate of Berklee College of Music in Boston, I've toured extensively throughout the Midwest and on both east and west coasts, including performances at the Rochester International Jazz Festival and the Monterey Jazz Festival. I've written and recorded music for a number of artists, commercials and a full length documentary. 

  .col-md-6
    %p
      Working as a software developer for the past 8 years, I've worked in a number of languages, including ActionScript, PHP, JavaScript and most recently Ruby. In that time, I've worked on various projects ranging from building static websites to managing an online corporate marketing and reporting software. 

