.row
  .container
    %section#shows.col-sm-4
      %h1 Upcoming Shows
    .video-container.col-sm-8
      <iframe id="fitvid489628" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/2YDAY-mHbeo?rel=0&controls=0&showinfo=0"></iframe>
